<div class="product">

<div class="item-frame" [routerLink]="'/product/'">
  <img class="product-img" src="{{ url }}" alt="logo" />

   <div id="content">
      <p id="name">{{ name }}</p>
      <p id="price">{{ price }}</p>
      <button class="btn btn-primary" id="product-bottom" type="button" (click)="addToCart()">Añadir al carrito</button>
   </div>
</div>

<div class="reviews">
   <div class="review-header">
      <h1>Reviews</h1>

      <div class="review-list" *ngFor="let item of reviews">
        <div class="review-item">
          <p class="email">{{item.userId}}</p>
          <div class="title-div">
              <p class="title">{{item.titulo}}</p>
              <div class="star">

              <p >{{item.nota}}/5</p>
              <svg style="fill: goldenrod;" class="ipl-icon ipl-star-icon  " xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 26 26" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
            </div>


          </div>
          <p class="description">{{item.descripcion}}</p>
        </div>


      </div>



   </div>
</div>
</div>
