<div class="signup">
   <ng-container *ngIf="failed; then loggedIn; else loggedOut"> </ng-container>
</div>


<ng-template #loggedIn>
   <div class="login">
      <h2 class="text-danger">Registro</h2>
      <div class="form">
         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-danger">Nombre</label>
            <input type="email" class="form-control" id="nameForm" placeholder="David" [(ngModel)]="name" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-danger">Apellidos</label>
            <input type="email" class="form-control" id="lastnameForm" placeholder="Gómez López" [(ngModel)]="lastnames" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-danger">Correo electrónico</label>
            <input type="email" class="form-control" id="emailForm" placeholder="name@example.com" [(ngModel)]="email" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-danger">Contraseña</label>
            <input type="password" class="form-control" id="passForm" placeholder="*****" [(ngModel)]="password" />
         </div>
         <p class="redirect" [routerLink]="'/signup'"> ¿Ya tienes una cuenta ?</p>

         <button class="btn btn-primary signup-button" type="button" id="login" (click)="doRegister()">Aceptar</button>
      </div>
   </div>
</ng-template>
<ng-template #loggedOut>
   <div class="login">
      <h2>Registro</h2>
      <div class="form">
         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="nameForm" placeholder="David" [(ngModel)]="name" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
            <input type="email" class="form-control" id="lastnameForm" placeholder="Gómez López" [(ngModel)]="lastnames" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="emailForm" placeholder="name@example.com" [(ngModel)]="email" />
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="passForm" placeholder="*****" [(ngModel)]="password" />
         </div>
         <p class="redirect" [routerLink]="'/login'"> ¿Ya tienes una cuenta ?</p>

         <button class="btn btn-primary signup-button" type="button" id="login" (click)="doRegister()">Aceptar</button>
      </div>
   </div>
</ng-template>
