.login{
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(31, 31, 31);
  border-radius: 15px;
  padding: 30px;
  width: 660px;
  margin: auto;
  margin-top: 50px;
  background-color: #f9f9f973;
}

.login-button{
  display: flex;
  flex-direction: column;
  margin: auto;

}

.redirect{
  cursor: pointer;
  color: rgb(59, 183, 255);
  text-decoration: underline;
}
